[submodule "components/min_read_check"]
	path = components/bifrost_min_read_check
	url = git@github.com:ssi-dk/bifrost-min_read_check.git
[submodule "components/ariba_resfinder"]
	path = components/bifrost_ariba_resfinder
	url = git@github.com:ssi-dk/bifrost-ariba_resfinder.git
[submodule "components/ariba_virulencefinder"]
	path = components/bifrost_ariba_virulencefinder
	url = git@github.com:ssi-dk/bifrost-ariba_virulencefinder.git
[submodule "components/assemblatron"]
	path = components/bifrost_assemblatron
	url = git@github.com:ssi-dk/bifrost-assemblatron.git
[submodule "components/cge_mlst"]
	path = components/bifrost_cge_mlst
	url = git@github.com:ssi-dk/bifrost-cge_mlst.git
[submodule "components/cge_resfinder"]
	path = components/bifrost_cge_resfinder
	url = git@github.com:ssi-dk/bifrost-cge_resfinder.git
[submodule "components/ssi_stamper"]
	path = components/bifrost_ssi_stamper
	url = git@github.com:ssi-dk/bifrost-ssi_stamper.git
[submodule "components/whats_my_species"]
	path = components/bifrost_whats_my_species
	url = git@github.com:ssi-dk/bifrost-whats_my_species.git
[submodule "components/ariba_mlst"]
	path = components/bifrost_ariba_mlst
	url = git@github.com:ssi-dk/bifrost-ariba_mlst.git
[submodule "components/ariba_plasmidfinder"]
	path = components/bifrost_ariba_plasmidfinder
	url = git@github.com:ssi-dk/bifrost-ariba_plasmidfinder.git
[submodule "components/run_launcher"]
	path = components/bifrost_run_launcher
	url = git@github.com:ssi-dk/bifrost-run_launcher.git
[submodule "components/assembly_qc_type"]
	path = components/assembly_qc_type
	url = git@github.com:ssi-dk/bifrost-assembly_qc_type.git
[submodule "lib/bifrostlib"]
	path = lib/bifrostlib
	url = git@github.com:ssi-dk/bifrostlib.git
[submodule "test_data"]
	path = test_data
	url = git@github.com:ssi-dk/bifrost_test_data.git
[submodule "bifrost_dashboard"]
	path = bifrost_dashboard
	url = git@github.com:ssi-dk/bifrost_dashboard.git
[submodule "components/bifrost_seqsero"]
	path = components/bifrost_seqsero
	url = git@github.com:ssi-dk/bifrost_seqsero
