*\__pycache__
*\.DS_Store
.vscode
*.pyc
reporter/keys.py
docs/build
*\.pytest_cache
*/*.egg-info
.pylintrc
resources
scripts
components/private__*
/config.yaml
# Temporary for SSI
components/sp_cdiff_fbi
components/sp_ecoli_fbi
components/sp_salm_fbi
